@font-face {
  font-family: 'agency-fb';
  src: url('./agency_fb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0;
	margin: 0;
	box-sizing: border-box;
  color: var(--second-color);
  font-family: agency-fb;
}

:root{
  /* --primary-color: #f6f7f6;
  --second-color: #000;
  --emphasis-color: #df2506; */

  --primary-color: #000;
  --second-color: #f6f7f6;
  --emphasis-color: #df2506;

  --path-rhomb: 0 0, 90% 0, 100% 100%, 10% 100%;
  --path-invert-rhomb: 0 100%, 90% 100%, 100% 0, 10% 0;

  --var-height: 8%;
}

html, body{
  width: 100%;
  height: 100%;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--second-color);
  padding-inline: 15px;
  padding-inline-end: 30%;
  border-bottom: 1px solid var(--emphasis-color);
  height: var(--var-height);
}

header h1{
  color: var(--emphasis-color);
  text-transform: uppercase;
}

header nav{
  display: flex;
  gap: 30px;
}

header a{
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
}

main{
  display: flex;
  height: calc(100% - var(--var-height));
}

main *{
  color: var(--primary-color);
}

main > article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 60%;
  background-color: var(--primary-color);
  border-right: 3px solid var(--emphasis-color);
}

main > article p{
  display: block;
  color: var(--second-color);
  padding: 5px;
  padding-inline: 30px;
  width: fit-content;
  transform: translate(5%, -150%);
  backdrop-filter: blur(15px);
  clip-path: polygon(var(--path-invert-rhomb));
}

main > aside{
  padding: 15px;
  width: 40%;
  background-color: var(--second-color);
}

main > aside p{
  font-size: 1.2rem;
  height: min-content;
  margin-bottom: 50px;
}

main > aside .options{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

main > aside > nav{
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

main > aside button{
  cursor: pointer;
  clip-path: polygon(var(--path-rhomb));
  min-width: 20%;
  padding-inline: 10px;
  font-size: 1.2rem;
  color: var(--second-color);
  background-color: var(--primary-color);
  border: 1px solid var(--emphasis-color);
  animation: blink 3s ease;
  transition: .2s;
}

main > aside button:hover{
  transform: scale(1.3);
}

@keyframes blink{
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}