@font-face {
  font-family: 'agency-fb';
  src: url('./agency_fb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0;
	margin: 0;
	box-sizing: border-box;
  color: var(--second-color);
  font-family: agency-fb;
}

:root{
  --primary-color: 0 0 0;
  --second-color: #f6f7f6;
  --emphasis-color: 223 37 6;

  --path-rhomb: 0 0, 90% 0, 100% 100%, 10% 100%;
  --path-invert-rhomb: 0 100%, 90% 100%, 100% 0, 10% 0;

  --var-height: 8%;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: rgb(var(--primary-color));
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(var(--primary-color));
  color: var(--second-color);
  padding-inline: 15px;
  padding-inline-end: 30%;
  border-bottom: 1px solid rgb(var(--emphasis-color));
  height: var(--var-height);
}

header h1{
  color: rgb(var(--emphasis-color));
  text-transform: uppercase;
}

header nav{
  display: flex;
  gap: 30px;
}

header a{
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
}

main{
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: center;
  background-size: 250%;
  height: calc(100% - var(--var-height));
  background-image: linear-gradient(140deg, transparent 40%, rgb(var(--emphasis-color)) 50%, transparent 60%);
  animation: bg 10s infinite ease-in-out;
}

main > *{
  backdrop-filter: blur(15px);
  background-color: rgb(var(--primary-color) / 60%);
  border-radius: 20px;
  padding: 15px;
  height: 90%;
}

main > article{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: fit-content;
}

main > article img{
  border-radius: inherit;
  height: 100%;
}

main > article p{
  position: absolute;
  bottom: 5%;
  display: block;
  color: var(--second-color);
  padding: 5px;
  padding-inline: 30px;
  width: fit-content;
  backdrop-filter: blur(15px);
  clip-path: polygon(var(--path-invert-rhomb));
}

main > aside{
  width: 40%;
}

main > aside p{
  font-size: 1.2rem;
  height: min-content;
  margin-bottom: 50px;
}

main > aside .options{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

main > aside .options button{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

main > aside > nav{
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

main > aside button{
  cursor: pointer;
  clip-path: polygon(var(--path-rhomb));
  min-width: 20%;
  padding-inline: 10px;
  font-size: 1.2rem;
  color: var(--second-color);
  background-color: rgb(var(--primary-color));
  border: 1px solid rgb(var(--emphasis-color));
  animation: blink 3s ease;
  transition: .2s;
}

main > aside button:hover{
  transform: scale(1.3);
}

@keyframes blink{
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

@keyframes bg{
  0%{ background-position: 30% 30%; }
  50%{ background-position: 70% 70%; }
  100%{ background-position: 30% 30%; }
}