@font-face {
  font-family: 'agency-fb';
  src: url('./agency_fb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0;
	margin: 0;
	box-sizing: border-box;
  color: var(--second-color);
  font-family: agency-fb;
}

:root{
  /* --primary-color: #f6f7f6;
  --second-color: #000;
  --emphasis-color: #df2506; */

  --primary-color: #000;
  --second-color: #f6f7f6;
  --emphasis-color: #df2506;

  --path-rhomb: 0 0, 90% 0, 100% 100%, 10% 100%;
  --path-invert-rhomb: 0 100%, 90% 100%, 100% 0, 10% 0;
}

html, body{
  width: 100%;
  height: 100%;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--second-color);
  padding-block: 5px;
  padding-inline: 15px;
  padding-inline-end: 30%;
  border-bottom: 1px solid var(--emphasis-color);
}

header h1{
  color: var(--emphasis-color);
  text-transform: uppercase;
}

header nav{
  display: flex;
  gap: 30px;
}

header a{
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
}

main{
  display: flex;
  height: 100%;
}

main *{
  color: var(--primary-color);
}

main > article{
  padding: 15px;
  width: 60%;
  background-color: var(--primary-color);
  border-right: 3px solid var(--emphasis-color);
}

main > article p{
  color: var(--second-color);
  padding: 5px;
  padding-inline: 30px;
  width: min-content;
  transform: translate(5%, -150%);
  backdrop-filter: blur(15px);
  clip-path: polygon(var(--path-invert-rhomb));
}

main > aside{
  padding: 15px;
  width: 40%;
}

main > aside p{
  font-size: 1.2rem;
  margin-bottom: 50px;
}

main > aside > div{
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

main > aside button{
  clip-path: polygon(var(--path-rhomb));
  width: 20%;
  font-size: 1.2rem;
  color: var(--second-color);
  background-color: var(--primary-color);
  border: 1px solid var(--emphasis-color);
  transition: .2s;
}

main > aside button:hover{
  transform: scale(1.3);
}